.ats-list__clear {
    padding: 4px 12px;
    color: #f2291f;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
}

.ats-list__header {
    padding: 4px 12px;
    margin-top: 16px;
    color: #0096f2;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.ats-list__item {
    display: block;
    padding: 4px 12px;
    color: #1d2335;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}

.ats-list__item_active {
    position: relative;
    background: rgba(0, 150, 242, 0.1);
    border-radius: 20px;

    &::after {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 22px;
        height: 22px;
        background-image: url('../img/check.svg');
        background-size: 100%;
        content: '';
    }
}
