.icon-check-circle {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../img/check-circle.svg');
    background-size: 100%;
    vertical-align: middle;
}

.icon-check-square {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../img/check-square.svg');
    background-size: 100%;
    vertical-align: middle;
}

.icon-uncheck-square {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../img/uncheck-square.svg');
    background-size: 100%;
    vertical-align: middle;
}

.icon-arrow-right {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/arrow-right.svg');
    background-size: 100%;
    vertical-align: middle;
}

.icon-arrow-left {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/arrow-right.svg');
    background-size: 100%;
    transform: rotate(180deg);
    vertical-align: middle;
}

.icon-arrow-right-top {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../img/arror-right-top.svg');
    background-size: 100%;
    vertical-align: middle;
}
