.step-container {
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.step-container__footer {
    margin-top: 27px;
}

.step-container_step2 {
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
}
