.step-container {
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.step-container-content {
    padding: 14px 23px;
    column-count: 4;
    column-gap: 30px;
}
