.step-container {
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
}

.step-container-content {
    padding: 10px 12px;
    column-count: 4;
    column-gap: 10px;
}

.step-container-footer {
    margin-top: 31px;
}
